Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint

format:
  run: pnpm format

chore: eslint & lefthook 설정 변경 (#7) - 루트 디렉토리에 eslint.config.mjs 파일 추가(eslint 설정을 모듈화하여 관리)
  eslint.config.mjs
  lefthook.yml
  packages/eslint-config/next.js
Due: lint, format

chore: create sourcery.yaml
  sourcery.yaml
Due: format

chore: lefthook 설정 파일 수정 (#7)
  lefthook.yml
Due: format

test: ai 봇
  test.md
Due: format

chore: shadcn/ui 종속성 설치 및 초기화 (#12) shadcn/ui CLI는 초기화 시 기본적인 @/* alias를 찾으므로, tsconfig.json에 paths를 추가
  apps/web/app/globals.css
  apps/web/components.json
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: lint, format

chore: import 절대경로 alias설정 (#12)
  apps/web/tsconfig.json
Due: format

chore: Import 규칙 FSD에 맞게 변경 (#12)
  packages/eslint-config/next.js
Due: lint, format

chore: FSD 폴더 구조 + 기본 파일 생성 (#12)
  apps/web/src/app/index.ts
  apps/web/src/entities/index.ts
  apps/web/src/features/index.ts
  apps/web/src/pages/index.ts
  apps/web/src/shared/api/index.ts
  apps/web/src/shared/config/index.ts
  apps/web/src/shared/constants/index.ts
  apps/web/src/shared/index.ts
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/store/index.ts
  apps/web/src/shared/lib/utils/index.ts
  apps/web/src/shared/types/index.ts
  apps/web/src/shared/ui/components/index.ts
  apps/web/src/shared/ui/index.ts
  apps/web/src/widgets/index.ts
Due: lint, format

chore: lucide 아이콘 설치 및 테스트 페이지 추가 (#12) - 페이지 계층에서 FSD와 Nextjs 간의 충돌 해결 - 해결 상세: NextJS의 페이지 폴더를 프로젝트의 루트 폴더로 이동
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/src/pages/home/index.ts
  apps/web/src/pages/home/ui/HomePage.tsx
  apps/web/src/pages/index.ts
  apps/web/src/shared/ui/components/test-lucide.tsx
Due: lint, format

fix: global ignores를 사용하여 next.config.ts을 전역적으로 무시 (#12) + lefthook.yml 파일 수정: --no-warn-ignored 플래그 추가
  apps/web/eslint.config.js
  lefthook.yml
Due: lint, format

fix: Hydration Mismatch 에러 해결 (#12)
  apps/web/src/shared/ui/components/test-lucide.tsx
Due: lint, format

chore: zustand 설치 (#12)
  apps/web/package.json
  pnpm-lock.yaml
Due: format

chore: TanStack Query 설치 및 설정 (#12)
  apps/web/package.json
Due: format

design: 디자인토큰css 추가 (#17)
  packages/tailwind-config/shared-styles.css
Due: none

chore: pnpm install, 프리티어 적용으로 인한 문서수정 (#17)
  packages/tailwind-config/shared-styles.css
  pnpm-lock.yaml
Due: format

design:shared-styles.css 문서 수정#17
  packages/tailwind-config/shared-styles.css
Due: none

chore: PWA 초기설정 (#18)
  apps/web/.gitignore
  apps/web/app/apple-icon.tsx
  apps/web/app/icon.tsx
  apps/web/app/layout.tsx
  apps/web/app/manifest.ts
  apps/web/app/page.tsx
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/sw.js
  apps/web/src/shared/lib/actions/push-notification.ts
  apps/web/src/shared/ui/layout/client-layout.tsx
  apps/web/src/shared/ui/pwa-test/index.ts
  apps/web/src/shared/ui/pwa-test/pwa-test.tsx
  pnpm-lock.yaml
  turbo.json
Due: lint, format

chore: sourcery review 적용 (#18)
  apps/web/app/icon.tsx
  apps/web/public/sw.js
  apps/web/src/shared/lib/actions/push-notification.ts
  apps/web/src/shared/ui/pwa-test/pwa-test.tsx
Due: lint, format

chore: 전통 구조로 디렉토리 구조 변경 (#18)
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next-env.d.ts
  apps/web/src/api/index.ts
  apps/web/src/api/test.ts
  apps/web/src/components/pages/HomePage.tsx
  apps/web/src/components/ui/index.ts
  apps/web/src/components/ui/pwa-test/index.ts
  apps/web/src/components/ui/pwa-test/pwa-test.tsx
  apps/web/src/components/ui/test-lucide.tsx
  apps/web/src/config/index.ts
  apps/web/src/constants/index.ts
  apps/web/src/entities/index.ts
  apps/web/src/features/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/lib/actions/push-notification.ts
  apps/web/src/lib/providers/query-provider.tsx
  apps/web/src/lib/store/index.ts
  apps/web/src/lib/utils/index.ts
  apps/web/src/pages/home/index.ts
  apps/web/src/shared/index.ts
  apps/web/src/shared/lib/utils/index.ts
  apps/web/src/shared/ui/index.ts
  apps/web/src/shared/ui/layout/client-layout.tsx
  apps/web/src/types/index.ts
  apps/web/src/widgets/index.ts
  apps/web/tsconfig.json
Due: lint, format

chore: 로컬 환경 및 .gitignore 설정
  .gitignore
  pnpm-lock.yaml
Due: format

chore: Navigation Menu ui library 의존성 주입
  apps/web/package.json
  pnpm-lock.yaml
Due: format

feat: footer layout 제작 (#29)
  apps/web/src/components/layout/Footer.tsx
Due: lint, format

chore: vercel 배포 (#21)
  .github/workflows/cleanup-preview.yml
  .github/workflows/sync-and-deploy.yml
  build.sh
Due: format

chore: 폰트 Pretendard 변경 및 설정 (#30)
  apps/web/app/layout.tsx
  apps/web/public/fonts/PretendardVariable.woff2
  packages/tailwind-config/shared-styles.css
Due: lint, format

chore: 전통 디렉토리 구조 변경 및 팀 규칙 적용 (#30)
  packages/eslint-config/next.js
Due: lint, format

chore: vercel.json 추가 (#21)
  .gitignore
  build.sh
  vercel.json
Due: format

fix: 이름 변경
  apps/web/src/components/layout/Navigation.tsx
Due: lint, format

docs: 오타수정(#21)
  .github/workflows/sync-and-deploy.yml
Due: format

chore: vercel test#34
  README.md
Due: format

chore: 폴더 구조 변경
  packages/ui/src/components/Avatar.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
Due: lint, format

chore: packages/ui components.json 설정 (#37)
  packages/ui/components.json
  packages/ui/tsconfig.json
Due: format

test: vercel test workflow (#34)
  .github/workflows/test-build.yml
  build.sh
Due: format

test: vercel배포 테스트 워크플로우 삭제 (#34)
  .github/workflows/test-build.yml
Due: format

chore: uninstall radix & install shadcn-navi-menu
  apps/web/src/components/ui/navigation-menu.tsx
  pnpm-lock.yaml
Due: lint, format

fix: button 제거 및 라이브러리 import 수정 (#29)
  apps/web/src/components/layout/Navigation.tsx
Due: lint, format

chore: 아이폰 상단 노치 배경색 변경 (#36) - 흰색으로 변경
  apps/web/app/layout.tsx
Due: lint, format

feat: 레이아웃 컴포넌트 추가 (#36)
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/layout/index.ts
  apps/web/src/components/pages/HomePage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/tsconfig.json
Due: lint, format

design: 네비게이션 스타일 수정 + 액티브 상태 스타일 추가
  apps/web/next-env.d.ts
  apps/web/src/components/layout/Navigation.tsx
  apps/web/src/components/ui/navigation-menu.tsx
  packages/tailwind-config/shared-styles.css
Due: lint, format

style: 컴포넌트 컨벤션에 맞게 수정 (#36)
  apps/web/src/pages/HomePage.tsx
Due: lint, format

style: 경로 수정 (#36)
  apps/web/app/page.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
