Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

feat: 네비게이션 일반 태그로 재생성 및 스타일링 + 웹모바일 전용 최대/최소 width 설정
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/layout/Navigation.tsx
  packages/tailwind-config/shared-styles.css
Due: lint, format

fix: vercel pr bug 수정 (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix:vercel pr bug (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr code (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr SSH key등록(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel sshkey (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: ssh key (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: ssh key(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

test: 디버깅 확인 문구 추가 (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix:vercelpr(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr 배포(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix:pr시 댓글에 배포 주소표시(#41)
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr (#41)
  .github/workflows/cleanup-preview.yml
  .github/workflows/sync-and-deploy.yml
Due: format

fix:vercel pr (#41)
  .github/workflows/cleanup-preview.yml
  .github/workflows/sync-and-deploy.yml
Due: format

fix: vercel pr (#41)
  .github/workflows/sync-and-deploy.yml
Due: format

hotfix: vercel workflow수정
  .github/workflows/sync-and-deploy.yml
Due: format

hotfix: vercel workflow hotfix
  .github/workflows/sync-and-deploy.yml
Due: format

test:vercel test
  packages/ui/src/components/Avatar.tsx
Due: lint, format

test:vercel
  .github/workflows/sync-and-deploy.yml
  build.sh
Due: format

fix: shadcn 의존성 이슈 해결 (#48)
  packages/ui/package.json
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/lib/utils.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: lint, format

fix:vercel bugfix (#49)
  packages/ui/src/components/Avatar.tsx
Due: lint, format

feat: Toast 컴포넌트 생성
  apps/web/src/components/common/Toast.tsx
Due: lint, format

!HOTFIX: pnpm install 수정
  build.sh
Due: none

feat: 헤더 컴포넌트 생성 및 레이아웃 적용 (#28)
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/MainLayout.tsx
Due: lint, format

chore: 주석 정리 (#28)
  apps/web/src/components/layout/Header.tsx
  apps/web/src/components/layout/MainLayout.tsx
Due: lint, format

feat: Badge 컴포넌트 구현 #23
  apps/web/src/components/common/badge.tsx
Due: lint, format

feat: 네비게이션과 메인 페이지들 연결 (#52) - 라우트 상수 파일 생성 - 네비게이션 컴포넌트에 라우트 상수 적용 - 각 메인 페이지 생성 및 연결
  apps/web/app/chat/page.tsx
  apps/web/app/profile/page.tsx
  apps/web/app/search/page.tsx
  apps/web/src/components/layout/Navigation.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/ChatPage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/ProfilePage.tsx
  apps/web/src/pages/SearchPage.tsx
Due: lint, format

fix: vercel pnpm install --no-frozen-lockfile 의존성 완화(#58)
  .github/workflows/sync-and-deploy.yml
  vercel.json
Due: format

feat:selectbox 컨포넌트(#45)
  apps/web/package.json
  apps/web/src/components/common/SelectBox.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/ui/select.tsx
  pnpm-lock.yaml
Due: lint, format

fix: vercel workflow Push to personal repo preview branch 수정 (#45)
  .github/workflows/sync-and-deploy.yml
Due: format

design: selectbox 스타일 조정 (#45)
  apps/web/src/components/common/SelectBox.tsx
  apps/web/src/components/layout/MainLayout.tsx
  apps/web/src/components/ui/select.tsx
Due: lint, format

feat: badge 컴포넌트 제작 #23
  apps/web/package.json
  apps/web/src/components/ui/badge.tsx
  pnpm-lock.yaml
Due: lint, format

style: 불필요한 코드 제거
  apps/web/src/components/ui/badge.tsx
Due: lint, format

chore: input, label 의존성 주입 (#25)
  apps/web/package.json
  pnpm-lock.yaml
Due: format

feat: label 유무 Input 컴포넌트 제작 (#25)
  apps/web/src/components/common/input-basic.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
Due: lint, format

feat: button 컴포넌트 생성
  apps/web/package.json
  apps/web/src/components/ui/button.tsx
  apps/web/src/pages/HomePage.tsx
Due: lint, format

feat: profile image 제작
  apps/web/package.json
  apps/web/src/components/common/profile-image.tsx
  apps/web/src/components/ui/avatar.tsx
  pnpm-lock.yaml
Due: lint, format

feat: icon이 포함되는 input 컴포넌트 제작 (#25)
  apps/web/src/components/common/input-icon.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: **/*.{js,jsx,ts,tsx,json,md,yml,yaml}
