Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # 변경된 파일만 ESLint 검사 및 자동 수정
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    # 변경된 파일만 Prettier 포맷팅
    format:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

rename: 경매 등록 관련 네이밍 정리
  apps/web/app/auction/addAuction/page.tsx
  apps/web/app/auction/createAuction/page.tsx
  apps/web/src/components/common/select-box.tsx
  apps/web/src/hooks/auction/useCreateAuction.tsx
  apps/web/src/hooks/auction/usePostAuction.tsx
  apps/web/src/pages/CreateAcutionPage.tsx
Due: lint, format

fix: cateory-select 데이터 수정
  apps/web/src/components/add-auction/category-select.tsx
Due: lint, format

fix: select 데이터 타입 수정
  apps/web/src/components/add-auction/min-unit-select.tsx
Due: lint, format

fix: add Prisma binary targets for Vercel
  apps/web/src/pages/AddAcutionPage.tsx
  apps/web/src/pages/AuctionPage.tsx
  apps/web/src/pages/ChatPage.tsx
  apps/web/src/pages/ProfilePage.tsx
  apps/web/src/pages/SearchPage.tsx
  apps/web/src/pages/SigninPage.tsx
  packages/db/prisma/schema.prisma
Due: lint, format

feat: 상세페이지 더보기 버튼 분리 및 삭제 api 요청 로직 추가 #176
  apps/web/src/components/auction-detail/button-detail-more.tsx
  apps/web/src/components/common/button-more.tsx
  apps/web/src/components/layout/dynamic-header.tsx
Due: lint, format

style: 불필요한 코드 삭제
  apps/web/src/components/auction-detail/button-detail-more.tsx
Due: lint, format

docs:workflow 추가 (#184)
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-preview-deploy.yml
  .github/workflows/sync-deploy.yml
  apps/web/app/page.tsx
Due: lint, format

rename: add -> create 수정
  apps/web/src/components/add-auction/create-auction-form.tsx
  apps/web/src/components/add-auction/create-auction-thumbnail.tsx
Due: lint, format

feat: 경매 상세페이지 api 연결 (#180)
  apps/web/src/lib/types/auction.ts
  apps/web/src/pages/AuctionPage.tsx
Due: lint, format

feat: 헤더 지역 필터링(#201)
  apps/web/src/components/common/auction-item-List.tsx
  apps/web/src/components/layout/dynamic-header.tsx
  apps/web/src/components/layout/home-selectbox.tsx
  apps/web/src/lib/zustand/store/location-store.ts
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix:불필요한 선언 제거(#201)
  apps/web/src/components/common/auction-item-List.tsx
Due: lint, format

fix:소스리 의견 반영(#184)
  .github/workflows/pr-preview-deploy.yml
Due: format

style: 주석 제거
  apps/web/src/pages/AuctionPage.tsx
Due: lint, format

fix:워크플로우 수정#201
  .github/workflows/pr-preview-deploy.yml
Due: format

fix:schema.prisma (#184)
  packages/db/prisma/schema.prisma
  pnpm-lock.yaml
Due: none

fix:prisma #184
  packages/db/prisma/schema.prisma
Due: none

feat: 경매 수정하기 페이지 퍼블리싱 #203
  apps/web/app/auction/[id]/edit/page.tsx
  apps/web/src/components/auction-detail/button-detail-more.tsx
  apps/web/src/components/auction-edit/button-box.tsx
  apps/web/src/components/auction-edit/form-edit.tsx
  apps/web/src/components/layout/dynamic-header.tsx
  apps/web/src/pages/EditAuctionPage.tsx
Due: lint, format

fix:vercel(#184)
  apps/web/next.config.ts
Due: lint, format

chore: 패키지 재설치(#184)
  pnpm-lock.yaml
Due: none

chore: AuctionItem 모델에 locationId nullable로 변경 (#200)
  packages/db/prisma/migrations/20250702085418_add_status_default/migration.sql
  packages/db/prisma/migrations/20250702093120_make_location_optional/migration.sql
  packages/db/prisma/schema.prisma
Due: none

fix:schema.prisma
  packages/db/prisma/schema.prisma
Due: none

feat:vercel
  apps/web/next.config.ts
  packages/db/prisma/schema.prisma
  turbo.json
  vercel.json
Due: lint, format

fix:vercel
  apps/web/next.config.ts
Due: lint, format

fix:vecel
  apps/web/next.config.ts
  packages/db/package.json
  packages/db/prisma/schema.prisma
  vercel.json
Due: lint, format

feat:플러그인 설치(#184)
  apps/web/next.config.ts
  apps/web/package.json
  pnpm-lock.yaml
  vercel.json
Due: lint, format

fix:워크플로우 수정(#184)
  .github/workflows/pr-preview-deploy.yml
Due: format

renaem: add-auction 폴더명 변경
  apps/web/src/components/add-auction/attache-image-input.tsx
  apps/web/src/components/add-auction/category-select.tsx
  apps/web/src/components/add-auction/create-auction-form.tsx
  apps/web/src/components/add-auction/create-auction-thumbnail.tsx
  apps/web/src/components/add-auction/images-uploader.tsx
  apps/web/src/components/add-auction/min-unit-select.tsx
Due: lint, format

rename: create-auction 으로 폴더명 변경
  apps/web/src/components/create-auction/attache-image-input.tsx
  apps/web/src/components/create-auction/category-select.tsx
  apps/web/src/components/create-auction/create-auction-form.tsx
  apps/web/src/components/create-auction/create-auction-thumbnail.tsx
  apps/web/src/components/create-auction/form-error-msg.tsx
  apps/web/src/components/create-auction/images-uploader.tsx
  apps/web/src/components/create-auction/min-unit-select.tsx
Due: lint, format

modify: 타입 및 id 수정
  apps/web/src/lib/constants/tabs.ts
  apps/web/src/lib/types/auction.ts
Due: lint, format

modify: form data type 일치 작업
  apps/web/src/lib/actions/auction.action.ts
  apps/web/src/lib/schema/auction.schema.ts
Due: lint, format

feat: useCreateAuction hook 생성
  apps/web/src/components/common/select-box.tsx
  apps/web/src/hooks/auction/useCreateAuction.tsx
  apps/web/src/hooks/auction/useDeletePreview.tsx
  apps/web/src/hooks/auction/useOnChangePreview.tsx
  apps/web/src/pages/CreateAcutionPage.tsx
Due: lint, format

fix: 경매상태에 따른 뱃지가 제대로 보이지 않는 이슈 해결 (#200)
  apps/web/app/api/auctions/route.ts
  apps/web/src/components/auction-detail/item-images.tsx
  apps/web/src/components/common/auction-item-List.tsx
  apps/web/src/components/common/auction-item-card.tsx
  apps/web/src/hooks/common/useCountdown.ts
  apps/web/src/hooks/queries/auction/keys.ts
  apps/web/src/hooks/queries/auction/useAuctions.ts
  apps/web/src/lib/api/auction.ts
Due: lint, format

fix: 워크플로우 시크릿토큰 변경(#209)
  .github/workflows/pr-preview-deploy.yml
Due: format

fix: 경매 상세 페이지에서 경매 상태에 따른 뱃지가 제대로 보이지 않는 이슈 해결 (#211)
  apps/web/src/components/auction-detail/item-information.tsx
Due: lint, format

style: 즉시구매하기 버튼 전체를 버튼으로 감싸기
  apps/web/src/components/auction-detail/banner-direct.tsx
Due: lint, format

chore: 메인 홈 페이지에 경매중, 경매종료 아이템 모두 표시
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix: bidform 현재가 표시, 경매 종료 시 bidform 비활성화 (#211, #212)
  apps/web/src/components/auction-detail/bid-form.tsx
  apps/web/src/pages/AuctionPage.tsx
Due: lint, format

rename: create-button으로 수정
  apps/web/src/components/common/craete-auction-button.tsx
Due: lint, format

chore: pnpm 재설치
  pnpm-lock.yaml
Due: none

design: create-button HomePage 호출
  apps/web/src/pages/HomePage.tsx
Due: lint, format
