Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # 변경된 파일만 ESLint 검사 및 자동 수정
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    # 변경된 파일만 Prettier 포맷팅
    format:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

ui: style 코드 일부 수정 (#25)
  apps/web/src/components/ui/input.tsx
Due: lint, format

feat: Button 컴포넌트 제작
  apps/web/src/components/ui/button.tsx
  apps/web/src/pages/HomePage.tsx
Due: lint, format

feat: FloatButton 컴포넌트 제작
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/float-button.tsx
  apps/web/src/pages/HomePage.tsx
Due: lint, format

chore : Tailwind Variants 설치
  pnpm-lock.yaml
Due: none

chore: HomePage 초기화
  apps/web/src/pages/HomePage.tsx
Due: lint, format

chore : Button 컴포넌트 클래스 오타 수정
  apps/web/src/components/ui/button.tsx
Due: lint, format

Update package.json
  apps/web/package.json
Due: format

chore: 스키마 생성 및 안정화 후 마이그레이션 히스토리 생성 (#65) + Prisma 생성 파일들 ignore 처리 - .eslintignore -> Lint에러에서 제외, - .gitignore -> Git 커밋에서 제외 + turbo.json: task > inputs 추가 + tsconfig.json: exclude 추가
  .gitignore
  packages/db/.eslintignore
  packages/db/prisma/migrations/0_init/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: format

chore: add shadcn carousel #68
  apps/web/package.json
  pnpm-lock.yaml
Due: format

style: 불필요한 코드 제거 #68
  apps/web/src/components/ui/carousel.tsx
Due: lint, format

feat: detail 페이지 내부 아이템 이미지 carousel 제작 #68
  apps/web/src/components/item-detail/item-images.tsx
Due: lint, format

chore: axios, @supabase/supabase-js 설치 (#65)
  apps/web/package.json
  pnpm-lock.yaml
Due: format

chore: 빌드 최적화를 위해 환경변수 의존성을 명시적으로 선언 (#65)
  turbo.json
Due: none

chore: 클라이언트 사이드에서 Prisma 실행 방지를 위한 추가 설정 (#65)
  apps/web/next.config.ts
Due: lint, format

style: 변수명(db->prisma) 변경 (#65)
  packages/db/src/client.ts
  packages/db/src/index.ts
Due: lint, format

chore: env 설정 삭제 (#65)
  apps/web/next.config.ts
Due: lint, format

chore: 오류 로깅을 개발 환경으로 제한 (#65)
  apps/web/src/lib/client.ts
Due: lint, format

fix: vercel setting #81
  .github/workflows/sync-and-deploy.yml
  build.sh
  pnpm-lock.yaml
  vercel.json
Due: format

fix: postinstall 추가 (#84) 별도 명령어 없이 pnpm install만 해도 Prisma Client가 자동으로 생성되도록 수정
  packages/db/package.json
Due: format

fix: 루트 디렉토리의 package.json 파일 수정 (#84) pnpm dev 실행 시 → 먼저 @repo/db 패키지의 db:generate 실행 → 그 다음 turbo run dev 실행 pnpm build 실행 시 → 먼저 @repo/db 패키지의 db:generate 실행 → 그 다음 turbo run build 실행
  package.json
Due: none

fix: 의존성 체인을 위한 turbo.json 수정 (#84) pnpm dev → @repo/db#db:generate 먼저 실행 → 그 다음 앱들의 dev 실행 pnpm build → @repo/db#db:generate 먼저 실행 → 그 다음 앱들의 build 실행 Prisma 스키마나 env 파일이 변경되면 db:generate가 다시 실행됨
  turbo.json
Due: none

feat:location-form (#81)
  apps/web/src/components/location/LocationSearchForm.tsx
Due: lint, format

design: locationsearchform css 수정 (#81)
  apps/web/src/components/location/LocationSearchForm.tsx
Due: lint, format

test: vercel
  apps/web/src/components/location/LocationSearchForm.tsx
Due: lint, format

fix: pnpm-lock 충돌 해결
  pnpm-lock.yaml
Due: none

chore: pnpm i
  pnpm-lock.yaml
Due: none

chore: add shadcn depenency
  apps/web/package.json
  pnpm-lock.yaml
Due: format

rename: rename file name
  apps/web/src/components/common/select-box.tsx
  apps/web/src/components/common/toast.tsx
  apps/web/src/components/layout/MainLayout.tsx
Due: lint, format

ui: update style code #78
  apps/web/src/components/ui/tabs.tsx
Due: lint, format

feat: add common tab component #78
  apps/web/src/components/common/tab.tsx
Due: lint, format

feat: Categories 컴포넌트 제작
  apps/web/package.json
  apps/web/src/components/ui/categories.tsx
  apps/web/src/components/ui/tabs.tsx
Due: lint, format

docs: 기존 워크플로우 삭제 #90
  .github/workflows/cleanup-preview.yml
  .github/workflows/sync-and-deploy.yml
Due: format

chore: vercel 배포 (#90)
  .github/workflows/vercel-deploy.yml
  build.sh
  vercel.json
Due: format

comment: apps/web/src/pages/homepage.tsx useQuery 주석처리(임시) (#90)
  apps/web/src/pages/HomePage.tsx
Due: lint, format

feat: add bid-table component #78
  apps/web/package.json
  apps/web/src/components/item-detail/bid-table.tsx
  apps/web/src/components/ui/table.tsx
Due: lint, format

rename: rename basic tab component file #78
  apps/web/src/components/common/tab.tsx
  apps/web/src/components/ui/tab-basic.tsx
  pnpm-lock.yaml
Due: lint, format

rename: tabs 파일명 tabs-categories로 수정 및 컴포넌트명 수정 remove: categories 위치 components/categories 로 이동
  apps/web/src/components/categories/categories.tsx
  apps/web/src/components/ui/tabs-categories.tsx
Due: lint, format

test: vercel preview test(#90)
  .github/workflows/vercel-deploy.yml
Due: format

test: vercertest #90
  .github/workflows/vercel-auto-deploy.yml
  .github/workflows/vercel-deploy.yml
Due: format
