Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # 변경된 파일만 ESLint 검사 및 자동 수정
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    # 변경된 파일만 Prettier 포맷팅
    format:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

feat:signuppage (#113)
  apps/web/src/components/auth/SignupFrom.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

feat:bottommodal.tsx(#113)
  apps/web/src/components/auth/Bottommodal.tsx
Due: lint, format

feat:signuppage.tsx(#113)
  apps/web/app/auth/signin/page.tsx
  apps/web/app/auth/signup/page.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

feat:라우팅및 디자인수정(#113)
  apps/web/public/Megaphone.svg
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/auth/Bottommodal.tsx
  apps/web/src/components/auth/LocationSetup.tsx
  apps/web/src/components/auth/SigninForm.tsx
  apps/web/src/components/auth/SignupFrom.tsx
  apps/web/src/components/auth/StartInfo.tsx
  apps/web/src/pages/SigninPage.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

feat:startinfo.tsx(#113)
  apps/web/src/components/auth/StartInfo.tsx
Due: lint, format

chore: pnpm i(#113)
  pnpm-lock.yaml
Due: none

fix:page use client 제거, public/icon/ svg파일 추가(#113)
  apps/web/app/auth/signin/page.tsx
  apps/web/app/auth/signup/page.tsx
  apps/web/public/icon/Apple.svg
  apps/web/public/icon/Facebook.svg
  apps/web/public/icon/Google.svg
  apps/web/public/icon/Megaphone.svg
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/auth/SigninForm.tsx
  apps/web/src/components/auth/SignupFrom.tsx
  apps/web/src/components/auth/StartInfo.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

docs:오타 수정(#113)
  apps/web/src/components/auth/SignupForm.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

fix: import 오류 수정 (#133) - 프로필페이지 헤더 높이 수정
  apps/web/src/components/layout/dynamic-header.tsx
  apps/web/src/pages/AuctionPage.tsx
  apps/web/src/pages/ProfilePage.tsx
Due: lint, format

chore: vercel (#90)
  .vercelignore
  vercel.json
Due: none

fix:vercel.json functions삭제(#90)
  vercel.json
Due: none

fix:vercel.json rootdirectory remove(#90)
  vercel.json
Due: none

fix: vercel배포단계에서 lefthook 스킵(#90)
  package.json
Due: none

fix:packages/db/package.json postinstall dotenv -e ../../.env 삭제(#90)
  packages/db/package.json
Due: format

fix: "postinstall": "npx prisma generate" npx추가 (#90)
  packages/db/package.json
Due: format

fix:"db:generate": "npx prisma generate" dotenv -e ../../.env삭제(#90)
  packages/db/package.json
Due: format

fix:.vercelignore packages들을 명시적으로 포함(#90)
  .vercelignore
Due: none

fix:apps/web/tscomfig/json extends 제거하고 모든 설정을 직접 명시(#90)
  apps/web/tsconfig.json
Due: format

fix:vercel (#90)
  apps/web/postcss.config.js
Due: lint, format

fix: package.json(#90)
  apps/web/package.json
Due: format

fix:@repo 참조 주석처리 apps/web/app/globals.css(#90)
  apps/web/app/globals.css
  apps/web/package.json
Due: format

fix:workspace 구조 롤벡(#90)
  .vercelignore
  apps/web/app/globals.css
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tsconfig.json
Due: lint, format

fix:tsconfig.json (#90)
  apps/web/tsconfig.json
Due: format

fix:verce
  apps/web/tsconfig.json
  vercel.json
Due: format

fix:vercel.json
  vercel.json
Due: none

fix: Navigation.tsx 파일명 대소문자 충돌 해결
  apps/web/src/components/layout/Navigation.tsx
Due: lint, format

AuctionPage.tsx에서 useParams가 null을 반환해서 발생하는 문제수정(#90)
  apps/web/src/pages/AuctionPage.tsx
Due: lint, format

fix:vercel.json경로 수정
  vercel.json
Due: none

docs:팀레포develop -> 개인레포develop 최신화(#90)
  .github/workflows/sync-deploy.yml
Due: format

Remove conflicting files: AuthForm.tsx and navigation.tsx
  apps/web/src/components/auth/AuthForm.tsx
  apps/web/src/components/layout/navigation.tsx
Due: lint, format

docs: 파일명 케밥케이스 변경 (#151)
  apps/web/src/components/auth/auth-form.tsx
  apps/web/src/components/auth/bottom-modal.tsx
  apps/web/src/components/auth/location-setup.tsx
  apps/web/src/components/auth/signin-form.tsx
  apps/web/src/components/auth/signup-done.tsx
  apps/web/src/components/auth/signup-form.tsx
  apps/web/src/components/location/location-search-form.tsx
  apps/web/src/pages/SigninPage.tsx
  apps/web/src/pages/SignupPage.tsx
Due: lint, format

rename: supabase폴더 아래 파일 이름은 supabase 각각 삭제 (#149) - supabase-clienct.ts -> client.ts - supabase-server.ts -> server.ts - supabase-middleware.ts -> middleware.ts - 사용 페이지 컴포넌트의 import 경로도 변경
  apps/web/src/components/chat/chat-room.tsx
  apps/web/src/components/ui/realtime-test/realtime-test.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/lib/supabase/supabase-middleware.ts
Due: lint, format

feat: nextjs 미들웨어 생성(#149)
  apps/web/middleware.ts
Due: lint, format

style: 헤더 연결 코드 수정 #76
  apps/web/src/components/layout/dynamic-header.tsx
Due: lint, format

feat: 검색페이지 헤더 제작 #129
  apps/web/src/components/common/input-icon.tsx
  apps/web/src/components/search/header-search.tsx
  apps/web/src/components/search/input-search.tsx
  apps/web/src/pages/SearchPage.tsx
Due: lint, format

feat: 등록한 경매 내역 페이지 퍼플리싱 #142
  apps/web/app/profile/sales/page.tsx
  apps/web/src/components/categories/categories.tsx
  apps/web/src/lib/constants/tabs.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/profile/TradePage.tsx
Due: lint, format

remove: categories 폴더 삭제 후 common으로 이동
  apps/web/src/components/common/categories.tsx
Due: lint, format

design: button 컴포넌트 color: transparent variant 추가
  apps/web/src/components/ui/button.tsx
Due: lint, format
