Repository Kernel360/KFE3-e2e-WONDERFUL: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # 변경된 파일만 ESLint 검사 및 자동 수정
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

    # 변경된 파일만 Prettier 포맷팅
    format:
      glob: '**/*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

test: vercel test 문구 추가(#90)
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix: vercel workflow 수정(#90)
  .github/workflows/vercel-deploy.yml
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix: 워크플로우 변동 감지 재배포,pnpm install --no-frozen-lockfile (#90)
  .github/workflows/vercel-deploy.yml
  vercel.json
Due: format

fix: resolve pnpm lockfile merge conflict
  pnpm-lock.yaml
Due: none

test:vercel test#90
  apps/web/src/pages/HomePage.tsx
Due: lint, format

[feat] Profile Card 컴포넌트 제작 #69
  apps/web/src/components/common/profile-card.tsx
  apps/web/src/components/ui/button.tsx
Due: lint, format

fix: categories 타입에러 수정 (#90)
  apps/web/src/components/ui/tabs-categories.tsx
Due: lint, format

chore: Supabase 클라이언트에 Realtime 설정 (#99) + 테스트 페이지 추가 + Supabase 클라이언트 설정 파일 추가 + Realtime 테스트 컴포넌트 추가 -> HomePage에서 Realtime 테스트 컴포넌트 사용
  apps/web/src/components/ui/realtime-test/RealtimeTest.tsx
  apps/web/src/lib/supabase.ts
  apps/web/src/pages/HomePage.tsx
Due: lint, format

test: vercel test3 (#90)
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix: ProfileImage 타입에러 수정(#90)
  apps/web/src/components/common/profile-image.tsx
Due: lint, format

feat: add countdown hook & component #77
  apps/web/src/components/common/countdown.tsx
  apps/web/src/hooks/useCountdown.ts
Due: lint, format

feat: add date formatter #77
  apps/web/src/utils/date.ts
Due: lint, format

feat: add item-information section #77
  apps/web/src/components/item-detail/item-information.tsx
  pnpm-lock.yaml
Due: lint, format

fix: Vercel CLI 충돌 해결(#90)
  vercel.json
Due: none

fix:vercel 루트 디렉토리 변경(#90)
  vercel.json
Due: none

docs: vercel.json 위치 변경(#90)
  apps/web/vercel.json
  vercel.json
Due: format

feat: Thumbnail 컴포넌트 제작
  apps/web/src/components/common/thumbnail.tsx
Due: lint, format

test:vercel-4-#90
  apps/web/src/pages/HomePage.tsx
Due: lint, format

fix: remove pnpm-lock #77
  pnpm-lock.yaml
Due: none

fix: install packages
  pnpm-lock.yaml
Due: none

feat: props 스프레드 추가
  apps/web/src/components/common/thumbnail.tsx
Due: lint, format

chore: supabase realtime 기능 확인용 채팅 테스트 페이지 추가 (#99) - chat 타입 정의 - supabase realtime 기능 확인용 채팅 테스트 페이지 추가
  apps/web/src/components/chat/chat-room.tsx
  apps/web/src/components/chat/chat-test.tsx
  apps/web/src/components/ui/realtime-test/index.ts
  apps/web/src/components/ui/realtime-test/realtime-test.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/types/chat.ts
Due: lint, format

design: thumbnail 컴포넌트 rounded 수정
  apps/web/src/components/common/thumbnail.tsx
Due: lint, format

style: 주석 삭제
  apps/web/src/components/ui/realtime-test/realtime-test.tsx
  apps/web/src/lib/supabase.ts
  apps/web/src/pages/HomePage.tsx
Due: lint, format

test:vercel test
  apps/web/src/pages/HomePage.tsx
Due: lint, format

style: 환경 변수에 Non-null assertion 제거 - 런타임 오류를 발생시킬 수 있음
  apps/web/src/lib/supabase.ts
Due: lint, format

style: keypress -> keydown 이벤트로 변경
  apps/web/src/components/chat/chat-room.tsx
Due: lint, format

[feat] Menu List 컴포넌트 제작 #74
  apps/web/src/components/common/menu-list.tsx
Due: lint, format

fix:Next.js 15와 호환되지 않는 설정 수정apps/web/next.config.ts (#90)
  apps/web/next.config.ts
Due: lint, format

fix: vercel.json 위치 변경(#90)
  apps/web/vercel.json
  vercel.json
Due: format

fix:vercel.json #90
  vercel.json
Due: none

fix:vercel.json(#90)
  vercel.json
Due: none

fix:vercel.json
  vercel.json
Due: none

fix: apps/web/app/page.tsx'use client' 제거(#90)
  apps/web/app/page.tsx
Due: lint, format

test:라우팅 최소화
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
Due: lint, format

fix:page,louter 원상복구, output파일 위치 디버깅
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  vercel.json
Due: lint, format

test:vercel.json
  vercel.json
Due: none

fix:vercel.json 삭제
  vercel.json
Due: none

test:vercel
  apps/web/src/pages/HomePage.tsx
Due: lint, format
